<div name="{{ product.name | slugify }}-form">

  <form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLScgZciwTXGyU8kFptXcS3KOfNi2BkW0tD7SOkGqm8daLVkEhQ/formResponse" target="hidden_iframe" onsubmit="submitted=true;" method="POST" id="mG61Hd">

    <h1>{{ product.call-to-action }} - {{ product.name }}</h1>

    <h3>Sign up to be notified about this game!</h3>

    <h2>Your Email: <input type="email" tabindex="0" max-length="70" name="emailAddress" required /></h2>

    <h2>Your Name: <input type="text" tabindex="1" max-length="70" name="entry.1924108681" required /></h2>

    <input type="radio" name="entry.1466018481" id="notify-about-{{product-name}}" value="Notify About {{product-name}}" hidden>
    
    <textarea name="entry.1856670343" rows="5" style="width: 90%" hidden>{{ product.call-to-action }}</textarea>

    <p><input type="submit" value="Send" tabindex="2" /></p>

</form>

</div>