{% if p.min-players and p.max-players %}
{% assign players = p.min-players | append: " to " %}
{% assign players = players | append: p.max-players %}
{% assign players = players | append: " players" %}
{% elsif p.min-players %}
{% assign players = p.min-players | append: " players" %}
{% elsif p.max-players %}
{% assign players = p.max-players | append: " players" %}
{% else %}
{% assign players = "" %}
{% endif %}
{% capture player-range %}
<span class="players">{{ players }}</span>
{% endcapture %}
{% if p.ages-official and p.ages-community %}
{% assign age-range = "ages " | append: p.ages-official %}
{% assign age-range = age-range | append: " (" %}
{% assign age-range = age-range | append: p.ages-community %}
{% assign age-range = age-range | append: ")" %}
{% elsif p.ages-official %}
{% assign age-range = "ages " | append: p.ages-official %}
{% elsif p.ages-community %}
{% assign age-range = "ages " | append: p.ages-community %}
{% else %}
{% assign age-range = "" %}
{% endif %}
{% capture age-range %}
<span class="age-range">{{ p.age-range }}</span>
{% endcapture %}
{% capture play-time %}
<span class="play-time">{{ p.play-time }}</span>
{% endcapture %}
{% if p.available == true %}
<div class="product">
    <div class="product-frame">
{% else %}
<div class="product ribbon coming-soon" data-availability="{{ p.availability }}">
    <div class="product-frame ribbon" data-availability="{{ p.availability }}">
{% endif %}
        <div class="box-image" style="background-image: url(assets/images/{{ p.name | slugify }}/{{ p.box-image }})" >
            <a href="{{ site.url }}/{{ p.name | slugify }}.html" >More info about {{ p.name }}</a>
        </div>
        <h2>
        {% if p.available == true %}
            <button class="snipcart-add-item btn-call-to-action"
                    data-item-id="{{ p.product-code }}"
                    data-item-name="{{ p.name }}"
                    data-item-price="{{ p.current-msrp }}"
                    data-item-weight="{{ p.weight | replace: 'g', '' }}"
                    data-item-url="https://magicmeeplegames.github.io/shop.html"
                    data-item-description="{{ p.short-description }}" >
                {{ p.call-to-action }}
            </button>
        {% else %}
            <button class="btn-call-to-action" >
                <a href="{{ site.url }}/{{ p.name | slugify }}.html#{{ p.name | slugify }}-form">
                    {{ p.call-to-action }}
                </a>
            </button>
        {% endif %}
        </h2>
        {% if p.current-msrp %}
        <h2>
            <span class="price">${{ p.current-msrp | replace: "$", "" }}</span>
        </h2>
        {% endif %}
        {% if player-range %}
        <h3 class="players">{{ player-range }} </h3>
        {% endif %}
        {% if age-range %}
        <h3 class="ages">{{ age-range }}</h3>
        {% endif %}
        {% if play-time %}
        <h3 class="time">{{ play-time }}</h3>
        {% endif %}
        <h1><a href="{{ site.url }}/{{ p.name | slugify }}.html">{{ p.name }}</a></h1>
        <p class="short-description">{{ p.short-description }}</p>
    </div>
</div>
