{% if include.min-players and include.max-players %}
{% assign players = include.min-players | append: " to " %}
{% assign players = players | append: include.max-players %}
{% assign players = players | append: " players" %}
{% elsif include.min-players %}
{% assign players = include.min-players | append: " players" %}
{% elsif include.max-players %}
{% assign players = include.max-players | append: " players" %}
{% else %}
{% assign players = "" %}
{% endif %}
{% capture player-range %}
<span class="players">{{ players }}</span>
{% endcapture %}
{% if include.ages-official and include.ages-community %}
{% assign age-range = "ages " | append: include.ages-official %}
{% assign age-range = age-range | append: " (" %}
{% assign age-range = age-range | append: include.ages-community %}
{% assign age-range = age-range | append: ")" %}
{% elsif include.ages-official %}
{% assign age-range = "ages " | append: include.ages-official %}
{% elsif include.ages-community %}
{% assign age-range = "ages " | append: include.ages-community %}
{% else %}
{% assign age-range = "" %}
{% endif %}
{% capture age-range %}
<span class="age-range">{{ include.age-range }}</span>
{% endcapture %}
{% capture play-time %}
<span class="play-time">{{ include.play-time }}</span>
{% endcapture %}
<div class="product">
    <div class="box-image" style="background-image: url({{ include.box-image }})" >
    </div>
    <h1>{{ include.name }}</h1>
    <h2 class="price">${{ include.current-msrp | replace "$", "" }}</h2>
    <h3 class="info">
        {{ player-range }}
        {{ age-range }}
        {{ play-time }}
    </h3>
    <p class="short-description">{{ include.short-description }}</p>
    <p>
        <button class="snipcart-add-item" data-item-id="{{ include.product-code }}" data-item-name="{{ include.name }}" data-item-price="{{ include.current-msrp }}" data-item-weight="{{ include.weight | replace: 'g', '' }}" data-item-url="https://magicmeeplegames.github.io/shop.html" data-item-short-description="{{ include.short-description }}" >
            Buy
        </button>
    </p>
</div>
