<div class="grid">
<h1>{{ product.name }} - {{ product.availability }}</h1>
<div class="call-to-action">
    {% if product.available == true %}
    <button class="snipcart-add-item btn-call-to-action"
        data-item-id="{{ product.product-code }}"
        data-item-name="{{ product.name }}"
        data-item-price="{{ product.current-msrp }}"
        data-item-weight="{{ product.weight | replace: 'g', '' }}"
        data-item-url="https://magicmeeplegames.github.io/shop.html"
        data-item-description="{{ product.short-description }}" >
        {{ product.call-to-action }}
    </button>
    <span class="price">${{ product.current-msrp }}</span>
    {% elsif product.call-to-action | slugify == "notify-me" %}
    <form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLScgZciwTXGyU8kFptXcS3KOfNi2BkW0tD7SOkGqm8daLVkEhQ/formResponse" target="hidden_iframe" onsubmit="submitted=true;" method="POST" id="mG61Hd">

        <div class="input-group">
            <label for="email">Your Email:</label>
            <input name="email" type="email" tabindex="0" max-length="70" name="emailAddress" required />
        </div>

        <div class="input-group">
            <label for="name">Your Name:</label>
            <input type="text" tabindex="1" max-length="70" name="entry.1924108681" required />
        </div>

        <input type="radio" name="entry.1466018481" id="notify-about-{{product-name}}" value="Notify About {{product-name}}" hidden>
        <textarea name="entry.1856670343" rows="5" style="width: 90%" hidden>{{ product.call-to-action }}</textarea>

        <div class="input-group">
            <p>Sign up to be notified about this game's availability!</p>
            <p><input type="submit" value="Send" tabindex="2" /></p>
        </div>

    </form>
    {% endif %}
</div>
<ul class="gameplay">
<li>For {{ product.min-players }} to {{ product.max-players }} players</li>
<li>
{% if product.ages-official %}
ages {{ product.ages-official }} 
{% endif %}
{% if product.ages-community %}
({{ product.ages-community }}).
{% endif %}
</li>
{% if product.play-time %}
<li>Play time {{ product.play-time }}.</li>
{% endif %}
{% if product.setup-time %}
<li>Setup time {{ product.setup-time }}.</li>
{% endif %}
{% if product.teach-learn-time %}
<li>Time to teach and learn {{ product.teach-learn-time }}.</li>
{% endif %}
{% if product.complexity %}
<li>Complexity {{ product.complexity }}.</li>
{% endif %}
</ul>
{% if product.box-image %}
<div class="details-box-image" style="background-image: url(assets/images/{{ product.name | slugify }}/{{ product.box-image }})">
</div>
{% endif %}
<div class="credits text-box">
<ul>
{% if product.designer %}
<li>Designer: {{ product.designer }}.</li>
{% endif %}
{% if product.artist %}
<li>Artist: {{ product.artist }}.</li>
{% endif %}
{% if product.developer %}
<li>Developer: {{ product.developer }}.</li>
{% endif %}
{% if product.publisher %}
<li>Publisher: {{ product.publisher }}.</li>
{% endif %}
</ul>
</div>
<div class="short-description text-box">
<p>{{ product.short-description }}</p>
</div>
<div class="long-description text-box">
<p>{{ product.long-description }}</p>
</div>
<!-- <div class="expanded-by text-box">
{% if product.expansions-product %}
<p>Expansions product.: {{ product.expansions-product. }}</p>
{% endif %}
{% if product.expansions-sold-separately %}
<p>Expansions sold separately: {{ product.expansions-sold-seperately }} </p>
{% endif %}
</div> -->
<div class="links text-box">
<ul>
{% if product.link-to-rule %}
<li><a href="{{ product.link-to-rules }}">Rules</a></li>
{% endif %}
{% if product.link-to-bgg %}
<li><a href="{{ product.link-to-bgg }}">Boardgamegeek</a></li>
{% endif %}
{% if product.link-to-kickstarter %}
<li><a href="{{ product.link-to-kickstarter }}">Kickstarter</a></li>
{% endif %}
</ul>
</div>
<!-- end of grid: -->
</div>