<h1>{{ product.name }} - {{ product.availability }}</h1>
<div class="gameplay">
<ul>
<li>For {{ product.min-players }} to {{ product.max-players }} players</li>
{% if product.ages-official %}
<li>ages {{ product.ages-official }}</li>
{% endif %}
{% if product.ages-community %}
<li>({{ product.ages-community }}).</li>
{% endif %}
{% if product.play-time %}
<li>Play time {{ product.play-time }}.</li>
{% endif %}
{% if product.setup-time %}
<li>Setup time {{ product.setup-time }}.</li>
{% endif %}
{% if product.teach-learn-time %}
<li>Time to teach and learn {{ product.teach-learn-time }}.</li>
{% endif %}
{% if product.complexity %}
<li>Complexity {{ product.complexity }}.</li>
{% endif %}
</ul>
</div>
{% if product.box-image %}
<div class="details-box-image" style="background-image: url(assets/images/{{ product.name | slugify }}/{{ product.box-image }})">
</div>
{% endif %}
{% if product.game-contents-image %}
<div class="details-game-contents-image" style="background-image: url(assets/images/{{ product.name | slugify }}/{{ product.game-contents-image }})">
</div>
{% endif %}
<div class="price">
    <h2>{{ product.product-code }}</h2>
    <h3>{{ product.current-msrp }}</h3>
</div>
<div class="credits">
<ul>
{% if product.designer %}
<li>Designer: {{ product.designer }}.</li>
{% endif %}
{% if product.artist %}
<li>Artist: {{ product.artist }}.</li>
{% endif %}
{% if product.developer %}
<li>Developer: {{ product.developer }}.</li>
{% endif %}
{% if product.publisher %}
<li>Publisher: {{ product.publisher }}.</li>
{% endif %}
</ul>
</div>
<div class="short-description">
<p>{{ product.short-description }}</p>
</div>
<div class="short-description">
<p>{{ product.long-description }}</p>
</div>
<div class="expanded-by">
{% if product.expansions-product %}
<p>Expansions product.: {{ product.expansions-product. }}</p>
{% endif %}
{% if product.expansions-sold-separately %}
<p>Expansions sold separately: {{ product.expansions-sold-seperately }} </p>
{% endif %}
</div>
<div class="links">
<ul>
{% if product.link-to-rule %}
<li>Rules: {{ product.link-to-rules }}</li>
{% endif %}
{% if product.link-to-bgg %}
<li>Boardgamegeek: {{ product.link-to-bgg }}</li>
{% endif %}
{% if product.link-to-kickstarter %}
<li>Kickstarter: {{ product.link-to-kickstarter }}</li>
{% endif %}
</ul>
</div>
