<div class="product">
    <div class="box-image" style="background-image: url({{ include.box-image-filename }})" >
    </div>
    <h1>{{ include.name }}</h1>
    <h2 class="price">{{ include.price }}</h2>
    <h3 class="info">
        <span class="number-of-players">{{ include.min-players }} to {{ include.min-players }} players</span> ages <span class="age-range">{{ include.age-range }}</span> <span class="length">{{ include.length }}</span>
    </h3>
    <p class="description">{{ include.description }}</p>
    <p>
        <button class="snipcart-add-item" data-item-id="{{ include.id }}" data-item-name="{{ include.name }}" data-item-price="{{ include.price }}" data-item-weight="{{ include.weight }}" data-item-url="{{ include.url }}" data-item-description="{{ include.description }}" >
            Buy
        </button>
    </p>
</div>
