<div class="progressbar">
  <div class="inline-logo" style="background-image: url(assets/images/{{ include.logo }})" role="img" alt="{{ include.alt }}">
  </div>
  <div class="project-status">Project Status:
    <div class="whole-meter">
      <span class="status-message">{{ include.status }} </span>
      {% assign endcharacter = include.percent | slice: -1 %}
      {{ endcharacter }}
      {% if endcharacter == "%" %}
      {% assign width = include.percent | slice: 0, -1 %}
      {% else %}
      {% assign width = include.percent %}
      {{ width }}
      {% endif %}
      {% if width == "100" %}
      <span class="meter-bar full" style="width: 100%">
      {% else %}
      <span class="meter-bar incomplete" style="width: {{ width | times: 0.97 | round }}%">
      {% endif %}
      </span>
    </div>
  </div>
</div>
