<div class="progressbar">
  {% if include.link contains 'http' %}
  <a href="{{ include.link }}">
  {% else %}
  <a href="{{ site.url }}/{{ include.link | slugify }}.html#{{ include.link | slugify }}-form">
  {% endif %}
  {% if include.heroimage %}
  <div class="inline-hero" style="background-image: url(assets/images/{{ include.heroimage | replace: " ", "%20" }})" role="img" alt="{{ include.alt }}">
  </div>
  {% endif %}
  {% if include.logo %}
  <div class="inline-logo" style="background-image: url(assets/images/{{ include.logo }})" role="img" alt="{{ include.alt }}">
  </div>
  {% endif %}
  <div class="project-status">Project Status:
    <div class="whole-meter">
      <span class="status-message">
        {{ include.status }}
      </span>
      <span class="meter-bar p{{ include.percent | remove: "%" }}" style="width: {{ include.percent | remove: "%" | times: 0.97 | round }}%">
      </span>
    </div>
  </div>
  </a>
</div>
