{% assign full_address = r.address1 | append: " " | append: r.address2 | append: " " | append: r.city | append: " " | append: r.state | append: " " | append: r.country | append: " " | append: r.zip %}
{% assign url_address = full_address | replace: "  ", " " | replace: " ", "%20" %}
{% assign url = "https://www.google.com/maps/search/?api=1&query=" | append: url_address %}
<li>
  <span class="name"><a href="{{url}}" target="_blank">{{r.name}}</a></span><br/>
  <span class="address1">{{r.address1}}</span> <span class="address2">{{r.address2}}</span> <span class="city">{{r.city}}</span> <span class="state">{{r.state}}</span> <span class="zip">{{r.zip}}</span> <span class="country">{{r.country}}</span>
</li>
