---
---

/* main color is shades of grayish gunmetal blue*/
$primary-mid: #29526D;	// mid blue */
$primary-very-light: #83A4B9;	// very light blue */
$primary-light: #4D758E;	// light blue */
$primary-dark: #0F344B;	// dark blue */
$primary-very-dark: #021A29;	// almost black blue */

/* secondary color is shades of lavender and purple */
$secondary-mid: #333676;	// dark purple */
$secondary-very-light: #9092C4;	// very light lavender */
$secondary-light: #5A5D9B;	// mid purple */
$secondary-dark: #161951;	// very dark purple */
$secondary-very-dark: #06082D;	// almost black purple */

/* complement color is shades of yellow and ochre */
$complement-mid: #AA8C39;	// gold */
$complement-very-light: #FFEAB0;	// peach, almost white yellow */
$complement-light: #DFC272;	// light ochre yellow */
$complement-dark: #755B12;	// raw umber, yellow ochre tan */
$complement-very-dark: #413000;	// cola, yellowish brown */

body {
    font-family: "Tahoma", sans-serif;
    text-decoration: none;
    line-height: 1.5rem;
    padding: 1rem;
    background-color: $secondary-dark;
    background-image: url(/assets/images/meeple-mandala.svg), url(/assets/images/meeple-pattern.svg);
    background-size: cover, 2rem;
    background-position: center;
}
.main {
	width: 65rem;
	margin: 1rem;
	text-align: left;
}
.header {
	height: 12.5rem;
	background: url("/assets/images/magic-meeple-games-logo.png") no-repeat 14rem;
	background-position: 1rem 1rem;
}
.header-tab-background, .header-bottom-background {
    position: absolute;
    left: 11rem;
}
.header-tab-background {
    height: 5rem;
    width: 33rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.header-bottom-background {
    top: 6.5rem;
    height: 10rem;
    width: 67rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.header-tab-background, .header-bottom-background, .main, .footer {
    background-color: rgba(131,164,185,0.8);
}
.header, .main, .footer{
	position: relative;
	clear: both;
	margin: 0 auto;
	margin-bottom: 2rem;
	padding: 1rem;
	width: 65rem;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/* Navigation */
.header ul {
	list-style: none;
	position: absolute;
	top: 9.5rem;
	left: 10rem;
}
.header li, div.menu li {
    font-size: large;
    font-weight: bold;
    float: left;
    background-color: $primary-light;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.header ul>li {
    border-left: 0.1rem solid $primary-very-light;    
    border-right: 0.1rem solid $primary-mid;
}
.header ul>li:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.header ul>li:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/* Social Media Links */

.social-nav-group {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
}
.social {
    float: left;
    height: 3rem;
    width: 3rem;
    margin: 0.5rem 1rem 0.5rem 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-left: 0.5rem solid #ddd;
    padding-right: 0.5rem;
    border-top: 0.25rem solid #ddd;
    border-bottom: 0;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
}
.social:after {
    display: block;
    content: '';
    height: 1rem;
    position: relative;
    box-shadow: 0.5rem 0.5rem 0.5rem #000;
    bottom: -0.5rem;
    left: -1rem;
    width: 135%;
    z-index: -1;
}
.social > span {
    opacity: 0;
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    /* accommodates Internet Explorer 7 and 8 */
    background-image: url('assets/images/empty.gif');
}
.social > a {
    color: rgba(0,0,0,0);
    text-decoration: none;
}

/* Progress Bars */
.progressbar {
    display: flex;
    background-color: $complement-light;
    clear: both;
    margin: 1rem;
}
.progressbar > div {
    float: left;
    margin: 0.5rem;
}
.inline-logo, .inline-hero {
    width: 12rem;
    background-position: center;
    background-repeat: no-repeat;
}
.inline-hero {
    background-size: cover;
}
.inline-logo {
    background-size: contain;
}
.whole-meter {
    display: flex;
    align-items: center;
    position: relative;
    height: 2rem;
    margin-top: 0.5rem;
    background-color: $complement-dark;
    border-radius: 2rem;
    padding: 0.5rem;
}
.whole-meter > span {
    display: block;
    position: absolute;
}
.status-message {
    z-index: 100;
    height: 1rem;
    padding-left: 1rem;
}
.meter-bar {
    background-color: $complement-very-light;
    overflow: hidden;
    height: 2rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-image: linear-gradient(
        center bottom,
        $complement-very-light 37%,
        $complement-light 69%
    );
    box-shadow:
        inset 0 0.3rem 0.3rem rgba(255,255,255,0.7),
        inset 0 -0.3rem 0.3rem rgba(0,0,0,0.3);
}
.project-status {
    flex-grow: 1;
}
.p100 {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
/* images */
.floatimage, .full-size-image {
    position: relative;
    height: 12rem;
    border: 0.5rem solid $complement-mid;
    margin: 1rem;
    padding: 1rem;
    background-size: cover;
}
.floatimage {
    width: 12rem;
}
.full-size-image {
    width: 100%
}
.floatimage > span.bottom {
    position: absolute;
    bottom: 0;
}
.caption {
    color: $complement-very-light;
    font-size: large;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem #755B12,
                 -0.1rem -0.1rem #755B12,
                 -0.1rem 0.1rem #755B12,
                 0.1rem -0.1rem #755B12;
}
/* footer */
.footer {
    font-size: small;
    font-style: oblique;
}
/* responsive styles for mobile devices */
@media screen and (max-width : 1024px) {
.header {
    top: 3rem;
    height: 16rem;
    background-size: contain;
    margin-bottom: 4rem;
    background-color: rgba(131,164,185,0.8);
}
.header-tab-background {
    display: none;
}
.header-bottom-background {
    display: none;
}
.social-nav-group {
    top: -3.7rem;
}
.header ul {
    top: 12rem;
}
.header, .main, .footer {
    width: 44rem;
}
.container {
    width: 100%;
    border-right: 0;
}
.progressbar {
    display: block;
    padding-top: 0.5rem;
}
.progressbar>div {
    font-size: xx-large;
    float: none;
    width: 97%;
    height: 10rem;
}
.whole-meter {
    height: 5rem;
    border-radius: 3rem;
}
.meter-bar {
    height: 4rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
.full {
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
}
