---
---

/* main color is shades of grayish gunmetal blue*/
$primary-very-light: #B6E4FF;	// very light blue */
$primary-light: #76B3DA;	// light blue */
$primary-mid: #3F7DA6;	        // mid blue */
$primary-dark: #164B6C;	        // dark blue */
$primary-very-dark: #021A29;	// almost black blue */

/* secondary color is shades of lavender and purple */
$secondary-mid: #333676;	// dark purple */
$secondary-very-light: #9092C4;	// very light lavender */
$secondary-light: #5A5D9B;	// mid purple */
$secondary-dark: #161951;	// very dark purple */
$secondary-very-dark: #06082D;	// almost black purple */

/* complement color is shades of yellow and ochre */
$complement-mid: #AA8C39;	// gold */
$complement-very-light: #FFEAB0; // peach, almost white yellow */
$complement-light: #DFC272;	// light ochre yellow */
$complement-dark: #755B12;	// raw umber, yellow ochre tan */
$complement-very-dark: #413000;	// cola, yellowish brown */

$main-pad: 0 5rem 0 5rem;

body {
    font-family: "Josefin Sans", "Proxima Nova", Helvetica, Corbel, sans-serif;
    text-decoration: none;
    line-height: 1.5rem;
    background-color: $secondary-dark;
}
.pages, .shop {
    background-image: url(/assets/images/meeple-mandala.svg), url(/assets/images/meeple-pattern.svg);
    background-size: cover, 9rem;
    background-position: center;
}
.main {
	width: 65rem;
	margin: 1rem;
	text-align: left;
}
.top-bar {
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
}
ul.product-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
}
ul.product-nav {
    display: flex;
    justify-content: center;
}
.header {
    height: 16rem;
    top: 2rem;
    background: url("/assets/images/magic-meeple-games-logo-v4.svg") no-repeat;
    background-position: -2rem -1rem;
	background-size: 36rem;
}
.main, .footer {
    background-color: rgba(228, 244, 255, 0.9);
    border: 1rem solid $primary-very-light;
}
.header, .main, .footer{
	position: relative;
	clear: both;
	margin: 0 auto;
	margin-bottom: 2rem;
	width: 68rem;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/* featured content on the page */

.container>h1, .container>h2, .container>h3, form>h1, form>h2, form>h3 {
	color: $primary-dark;
	line-height: 1;
}
.container>h1, form>h1 {
    margin: 0;
    margin-bottom: 1rem;
    background-color: $primary-very-light;
    padding: 1rem;
    text-shadow: 0.1rem 0.1rem #ddd,
                -0.1rem 0.1rem #ddd,
                0.1rem -0.1rem #ddd,
                -0.1rem -0.1rem #ddd,
                0 .1rem #ddd,
                0 -.1rem #ddd,
                .1rem 0 #ddd,
                -.1rem 0 #ddd;
}
.container>h2, .container>h3, form>h2, form>h3, form>p {
    padding: $main-pad;
}

.pages .container>p, .pages .container>ul, form>p, form>ul {
    padding: $main-pad;
}

/* Navigation */

.header ul, .top-bar ul {
	list-style: none;
	position: absolute;
	bottom: 1rem;
	right: 0;
}
.header li, .top-bar li, div.menu li {
    font-size: large;
    font-weight: bold;
    float: left;
    background-color: $primary-light;
    padding: 0.5rem 1rem 0.5rem 1rem;
    height: 1.5rem;
}
.header ul>li, .top-bar ul>li {
    border-left: 0.1rem solid $primary-very-light;    
    border-right: 0.1rem solid $primary-mid;
}
.header ul>li:first-child, .top-bar ul>li:first-child {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}
.header ul>li:last-child, .top-bar ul>li:last-child {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.home-link-box {
    height: 11rem;
    width: 34rem;
}
.home-link {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* Social Media Links */

.social-nav-group {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
}
.social {
    float: left;
    height: 3rem;
    width: 3rem;
    margin: 0.5rem 1rem 0.5rem 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-left: 0.5rem solid #ddd;
    padding-right: 0.5rem;
    border-top: 0.25rem solid #ddd;
    border-bottom: 0;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
}
.social:after {
    display: block;
    content: '';
    height: 1rem;
    position: relative;
    box-shadow: 0.5rem 0.5rem 0.5rem #000;
    bottom: -0.5rem;
    left: -1rem;
    width: 135%;
    z-index: -1;
}
.social > span {
    opacity: 0;
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    /* accommodates Internet Explorer 7 and 8 */
    background-image: url('assets/images/empty.gif');
}
.social > a {
    color: rgba(0,0,0,0);
    text-decoration: none;
    position: absolute;
    height: 100%;
    width: 3rem;
}
.timeline-Widget {
    font-family: "Josefin Sans", "Proxima Nova", Helvetica, Corbel, sans-serif;
}
.timeline-Widget>a {
    color: $primary-dark;
}

/* Progress Bars */

.progressbar {
    display: flex;
    background-color: $complement-light;
    clear: both;
    margin: 1rem;
}
.progressbar>a {
    width: 100%;
    display: inherit;
    text-decoration: none;
}
.progressbar a>div {
    float: left;
    margin: 0.5rem;
}
.inline-logo, .inline-hero {
    width: 12rem;
    background-position: center;
    background-repeat: no-repeat;
}
.inline-hero {
    background-size: cover;
}
.inline-logo {
    background-size: contain;
}
.whole-meter {
    display: flex;
    align-items: center;
    position: relative;
    height: 2rem;
    margin-top: 0.5rem;
    background-color: $complement-dark;
    border-radius: 2rem;
    padding: 0.5rem;
}
.whole-meter > span {
    display: block;
    position: absolute;
    line-height: initial;
    text-shadow:  0.05rem 0.05rem  $complement-very-light,
                 -0.05rem -0.05rem $complement-very-light,
                 -0.05rem 0.05rem  $complement-very-light,
                  0.05rem -0.05rem $complement-very-light;
}
.status-message {
    z-index: 100;
    height: 1rem;
    padding-left: 1rem;
}
.meter-bar {
    background-color: $complement-very-light;
    overflow: hidden;
    height: 2rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-image: linear-gradient(
        center bottom,
        $complement-very-light 37%,
        $complement-light 69%
    );
    box-shadow:
        inset 0 0.3rem 0.3rem rgba(255,255,255,0.7),
        inset 0 -0.3rem 0.3rem rgba(0,0,0,0.3);
}
.project-status {
    flex-grow: 1;
    font-weight: bold;
}
.p100 {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* images */

.floatimage, .full-size-image {
    position: relative;
    height: 12rem;
    border: 0.5rem solid $complement-mid;
    margin: 1rem;
    padding: 1rem;
    background-size: cover;
}
.floatimage {
    width: 12rem;
}
.full-size-image {
    width: 100%
}
.floatimage > span.bottom {
    position: absolute;
    bottom: 0;
}
.caption {
    color: $complement-very-light;
    font-size: large;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem #755B12,
                 -0.1rem -0.1rem #755B12,
                 -0.1rem 0.1rem #755B12,
                 0.1rem -0.1rem #755B12;
}

/* footer */

.footer {
    display: flex;
    font-size: small;
    font-style: oblique;
}

.footer > p {
    margin: 3rem;
}

/* forms */

input[type=text], input[type=email] {
    display: block;
    width: 90%;
    padding: 0.375rem 0.75rem;
    margin: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border: .1rem solid $complement-very-light;
    border-radius: .25rem;
}
.radio-button-group {
    padding: $main-pad;
}
input[type=submit], .radio-btn {
    cursor: pointer;
    color: $complement-very-light;
    background-color: $primary-mid;
    border-color: $primary-mid;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: .1rem solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
.radio-btn {
    position: relative;
}
.radio-btn label {
    padding-left: 2rem;
}
input[type=radio] {
    display: none;
}
input[type=radio]:checked + label:before {
    content: '\2713 ';
    position: absolute;
    left: -.1rem;
    top: -.1rem;
    background-color: $primary-dark;
    border-radius: .5rem;
    padding: .48rem .8rem;
}

/* shop */

.shop>h3 {
    padding: 0 5rem;
}
.snipcart-summary {
    padding: 0 5rem;
}
.product {
    width: 22rem;
    display: inline-grid;
    position: relative;
}
.product-frame {
    padding: 1rem;
    margin: 1rem;
    background-color: $complement-very-light;
    border: 0.5rem solid $complement-dark;
    position: relative;
}
.box-image {
    position: relative;
    height: 12rem;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.box-image a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    overflow:hidden;
    text-indent:112%;
    white-space:nowrap;
}
.product h1 {
    line-height: 2rem;
}
.product h2, .product h3 {
    color: $complement-dark;
    display: inline-grid;
    margin: 0 0.25rem 0.25rem;
}
.product .price, .product .description {
    float: left;
    margin: 0 1rem 0 0;    
}
.btn-call-to-action {
    font-size: x-large;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
    padding: 0.5rem 2rem;
    background-color: $primary-dark;
    border-radius: 0.5rem;
    border-top: 0.2rem solid $primary-mid;
    border-right: 0.2rem solid $primary-very-dark;
    border-bottom: 0.2rem solid $primary-very-dark;
    border-left: 0.2rem solid $primary-mid;
    text-align: center;
}
.btn-call-to-action a {
    color: #fff;
    text-decoration: none;
}
.btn-call-to-action:disabled {
    background-color: $complement-dark;
    border: none;
}
.product-frame.ribbon:after {
    content: "Coming Soon!";
    color: transparent;
    position: absolute;
    right: -55px;
    top: 8px;
    transform: rotate(45deg);
    border-bottom: 3rem solid #164B6C;
    border-right: 3rem solid transparent;
    border-left: 3rem solid transparent;
    font-weight: bold;
}
.product.ribbon:after {
    content: attr(data-availability);
    color: white;
    font-weight: bold;
    position: absolute;
    transform: rotate(45deg);
    right: 24px;
    top: 63px;
}
.product-frame .banner {
    margin: -1rem;
    color: white;
    font-weight: bold;
    padding: 1rem;
    background-color:#164B6C;
}
.product-frame.ribbon .banner {
    color: transparent;
    background-color: transparent;
    height: 0;
}

/* product details pages */

.product-details-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.product-details-page .main {
    background-color: unset;
}
.grid, .product-details-page .container>div {
    border: 2rem solid $primary-very-light;
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-bottom: 2rem;
    background-color: rgba(228,244,255,0.9);
}
.grid h1 {
    line-height: 2rem;
    margin: 0;
    margin-left: unset;
    margin-bottom: 1rem;
    background-color: $primary-very-light;
    padding: 1rem;
    border-bottom-right-radius: 3rem;
    grid-column: 1 / span 3;
    grid-row: 1;
}
.grid h1.longer {
    grid-column: 1 / span 4;
}
.grid h1, .grid .buy {
    align-self: start;
    text-shadow: 0.1rem 0.1rem #ddd,
                -0.1rem 0.1rem #ddd,
                0.1rem -0.1rem #ddd,
                -0.1rem -0.1rem #ddd,
                0 .1rem #ddd,
                0 -.1rem #ddd,
                .1rem 0 #ddd,
                -.1rem 0 #ddd;
}
.grid .price {
    font-size: xx-large;
}
.grid .call-to-action {
    grid-column: 5 / span 2;
    grid-row: 1;
    color: $primary-dark;
    font-weight: bold;
}
.grid .call-to-action.longer {
    grid-column: 4 / span 3;
}
.grid .call-to-action>* {
    margin-right: 1rem;
}
.grid .call-to-action button {
    margin-top: 2rem;
}
.input-group {
    display: flex;
}
.input-group>*:last-child {
    padding-left: 2rem;
}
.grid form {
    margin: 1rem 1rem -2rem 1rem;
}
.grid .text-box {
    background-color: $primary-very-light;
    padding: .5rem;
}
.grid .gameplay {
    grid-column: 1;
    grid-row: 2 / span 2;
    padding: 0;
}
.gameplay li {
    color: $complement-very-light;
    background-color: $primary-dark;
    margin-bottom: .5rem;
    padding: .5rem;
    list-style-type: none;
}
.grid .details-box-image {
    grid-column: 2 / span 4;
    grid-row: 2 / span 3;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.grid .credits {
    grid-column: 6;
    grid-row: 3;
    font-style: oblique;
}
.grid .links {
    grid-column: 6;
    grid-row: 4;
}
.grid .short-description {
    grid-column: 6;
    grid-row: 2;
    font-weight: bold;
    font-size: larger;
}
.grid .long-description {
    grid-column: 1 / span 5;
    grid-row: 4;
}

/* gallery */

.gallery {
    display: block !important;
    overflow: auto;
    border: none !important;
    background-color: transparent !important;
}
.gallery-image, .retailer-resources {
    float: left;
    width: 18.65rem;
    height: 12rem;
    margin: 1rem;
    background-color: $complement-very-light;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 1rem solid $complement-very-light;
    border-radius: 1rem;
}
.lightbox-image {
    width: 64rem;
    height: 43rem;
    background-color: $primary-very-light;
    border: 1rem solid $primary-very-light;
    border-radius: unset;
}

.gallery-image:not(.lightbox-image):hover {
    border-color: $complement-dark;
    background-color: $complement-dark;
}

/* retailers page */

.column {
    display: inline-grid;
}
.left.column {
    width: 20rem;
    margin-right: 3rem;
    padding-left: 3rem;
}
.right.column {
    width: 40rem;
}
#retailer-list ul {
    padding-left: 0;
}
#retailer-list li {
    background-color: $complement-very-light;
    padding: 1rem;
    margin: .5rem;
    list-style-type: none;
    border-radius: .5rem;
}
input.search {
    width: 15rem;
}
input.search, .sort-controls button {
    height: 1.5rem;
}
.sort-controls button {
    border-left: 0.1rem solid $primary-very-light;
    border-right: 0.1rem solid $primary-mid;
    border-radius: .25rem;
    background-color: $primary-light;
}
#retailer-list .name {
    font-weight: 900;
    color: $primary-dark;
}
.retailer-resources {
    width: 16rem;
}
.gallery-caption {
    position: relative;
    bottom: 0;
    background-color: $complement-very-light;
}
a.retailer-resources-link {
    position: absolute;
    width: 100%;
    height: 100%;
}
.thumbnail {
    width: 100%;
    height: 80%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* snipcart customization */
li.cart {
    background-image: url(/assets/images/shopping-cart.svg);
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
}
li.cart a {
    text-decoration: none;
    color: transparent;
}
.snip-layout {
    color: $primary-mid !important;
    font-family: "Josefin Sans", sans-serif !important;
}
.snip-layout__main-container {
    border: .5rem solid #021A29 !important;
    background-color: #eee !important;
}
.snip-header, .snip-footer {
    background-color: $primary-dark !important;
}
.snip-header__title {
    color: $primary-light !important;
}
.snip-header__total {
    background-color: $primary-very-dark !important;
}
.snip-header__total-label{
    color: $complement-light !important;
}
.snip-btn {
    color: #eee !important;
    background-color: $primary-dark !important;
    border-radius: 0.5rem !important;
    border-left: 0.1rem solid $primary-mid !important;
    border-right: 0.1rem solid $primary-very-dark !important;
}
.snip-table tr {
    border-bottom: 1px solid $primary-light !important;
}
.snip-actions {
    border-top: 1px solid $primary-light !important;
}
.snip-footer__copyright {
    color: #eee !important;
}
.snip-layout__close:before {
    content: 'Continue Shopping';
    font-family: "Josefin Sans", "Proxima Nova", Helvetica, Corbel, sans-serif;
    font-family: "Josefin Sans", "Proxima Nova", Helvetica, Corbel, sans-serif;
    background-color: $primary-dark;
    padding: .25rem;
    border-radius: .5rem;
    font-size: small;
    margin-right: .5rem;
}

/* "Friends Of The Meeple" Carousel */
.subcontainer {
    margin: auto;
    width: 44rem;
}
.carousel {
    position: relative;
}
.carousel .prev, .carousel .next {
    position: absolute;
    top: 0;
    height: 100%;
    width: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 90;
}
.carousel .next {
    right: 0;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}
.carousel .prev-arrow, .carousel .next-arrow {
    position: absolute;
    top: 45%;
}
.carousel .prev-arrow {
    left: .5rem;
}
.carousel .next-arrow {
    right: .5rem;
}
.carousel ol {
    display: relative;
    width: 100%;
    height: 100%;
}
.carousel li {
    list-style: none;
    list-style-type: none;
    top: 0;
    left: 0;
}
.carousel li.current {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    transform: scale(1);
    transition: 1s;
}
.carousel li:not(.current) {
    transform: scale(0);
    transition: 1s;
}
.carousel a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}
.friends-of-the-meeple {
    // grid-row: 1;
    // grid-column: 3;
}
marquee, .carousel {
    border: 1rem solid $complement-dark;
    width: 89%;
    height: 10rem;
}
marquee img {
    max-width: 100%;
    object-fit: cover;
}
marquee img:hover:after {
    content: attr(data-caption);
    position: absolute;
    bottom: -1.25rem;
}
.tweet-stream {
    // grid-column: 1;
    // grid-row: 1 / span 2;
}
.home-grid-col {
    background-color: $complement-light;
    padding: .5rem .25rem .5rem .25rem;
    margin: 1rem;
}

/* responsive styles for mobile devices */

@media screen and (max-width : 1024px) {
body {
    padding-top: 2rem;
}
.header {
    top: 4rem;
    height: 16rem;
    background-size: contain;
    margin-bottom: 4rem;
}
.header-tab-background {
    display: none;
}
.header-bottom-background {
    display: none;
}
.social-nav-group {
    top: -3.7rem;
}
.header ul {
    bottom: 2rem;
}
.header, .main, .footer {
    width: 50rem;
}
.container {
    width: 100%;
    border-right: 0;
}
.container>*:not(.grid) {
    border-radius: .5rem;
    padding: 0 .5rem;
}
.progressbar {
    padding-top: 0.5rem;
}
.progressbar>a {
    display: flex;
    flex-wrap: wrap;
}
.progressbar>a>div {
    display: block;
    font-size: xx-large;
    float: none;
    width: 47%;
    height: 10rem;
}
.whole-meter {
    height: 5rem;
    border-radius: 3rem;
}
.meter-bar {
    height: 4rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
.full {
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
.grid {
    display: block !important;
}
.product-details-page .container>div{
    border: unset;
}
.grid h1 {
    margin-left: -.5rem;
}
.grid li {
    display: inline-block;
}
.grid .text-box {
    padding: 1rem;
    margin: 1rem;
}
.grid .details-box-image {
    height: 28rem !important;
}
.grid .form {
    margin: 1rem;
}
.grid .call-to-action, .grid .gameplay, .grid .details-box-image {
    padding: 2rem;
}
.radio-btn {
    margin: 0 .1rem;
}
.lightbox-image {
    width: 45rem;
    height: 30rem;
}
.column {
    width: 100% !important;
    display: block;
}
.left.column {
    margin-right: 0;
    padding-left: 0;
}
}
