<!DOCTYPE HTML>
<html>
<head>
  <title>Magic Meeple Games, Inc</title>
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico"  | absolute_url }}" type="image/x-icon">
</head>
<body>
<div class="header">
  <div class="social-nav-group">
  {% include social_media.html filename="twitter-logo-meeple.png" url="https://twitter.com/MagicMeeple" %}
  {% include social_media.html filename="facebook-logo-meeple.png" url="https://www.facebook.com/MagicMeepleGames/" %}
  {% include social_media.html filename="instagram-logo-meeple.png" url="https://www.instagram.com/magicmeeplegames/" %}
  {% include social_media.html filename="instagram-logo-meeple.png" url="https://www.instagram.com/magicmeeplegames/" %}
  </div>
  <ul>
{% assign mypages = site.pages | sort: "order" %}
    {% for nav in mypages %}
    {% if nav.category == "pages" %}
        {% if nav.title == page.title %}
        <li class="thispage" >
            {{ nav.title }}
        {% else %}
        <li>
            <a href="{{ nav.url | absolute_url }}">{{ nav.title }}</a>
        {% endif %}
        </li>
    {% endif %}
{% endfor %}
  </ul>
</div>
<div class="main">
<div class="container">
{{ content }}
</div>
</div>
<div class="footer">
<p>&reg; Copyright 2015-{{ site.time | date: '%y' }} Magic Meeple Games, LLC. All Rights Reserved</p>
<p>Privacy Policy: Magic Meeple Games does not knowingly collect information from its visitors without their permission or knowledge.</p>
<p>The personal information you supply, if any, will not be given away or sold under any circumstances.</p>
</div>
</body>
</html>
