<!DOCTYPE HTML>
<html>
<head>
  <title>Magic Meeple Games, Inc: {{ page.title }}</title>
  <meta name="description" content="An independent tabletop games design, development, and publishing company. {{ page.title }}." />	
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico"  | absolute_url }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500|Josefin+Sans:300,600" rel="stylesheet" type="text/css">
</head>
<body>
{% include top-bar.html %}
{% include header.html %}
<div class="main">
<div class="container">
{{ content }}
</div>
</div>
<div class="footer">
<p>&reg; Copyright 2015-{{ site.time | date: '%y' }} Magic Meeple Games, LLC. All Rights Reserved</p>
<p>Privacy Policy: Magic Meeple Games does not knowingly collect information from its visitors without their permission or knowledge.</p>
<p>The personal information you supply, if any, will not be given away or sold under any circumstances.</p>
</div>
</body>
</html>
