<!DOCTYPE HTML>
<html>
<head>
  <title>Magic Meeple Games, Inc: {{ page.title }}</title>
  <meta name="description" content="An independent tabletop games design, development, and publishing company. {{ page.title }}." />	
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico"  | absolute_url }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500|Josefin+Sans:300,600" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="NjgwOGFlOTEtNmZjNS00NmQwLTk5MjEtMmRjYzMzYzI2NTQ5NjM2NjM5OTYxMTg0MjUxODMy" id="snipcart"></script>
  <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
{% include top-bar.html %}
{% include header.html %}
<div class="main">
<div class="container">
{% assign page-title = page.title | slugify %}
{% for product in site.data.products %}
{% assign product-name = product.name | slugify %}
{% if product-name == page-title %}
{% include product-details-header.html %}
{% assign expands = product.expands | slugify %}
{% endif %}
{% endfor %}

{% if expands %}
{% for product in site.data.products %}
{% assign product-name = product.name | slugify  %}
{% if product-name == expands %}
{% include product-details-header.html %}
{% endif %}
{% endfor %}
{% endif %}
{{ content }}
</div>
</div>
{% include footer.html %}
</body>
</html>
